In [6]:
import csv
import random
import pandas as pd

In [7]:
with open('F:\summer internship\dataset\geochem\GSNSWDataset\ASSAY_SURFSAMP_AuBasePath.csv','rt') as csv_in:
    rdr = csv.reader(csv_in)
    header = ['ID'] + next(rdr)
    rows = []
    for i, row in enumerate(rdr):
        rows.append([i+1] + row)
        
print(header)
print(len(rows))

['ID', 'RPT_ID', 'RIN', 'PERIODEND', 'RPT_TYPE', 'SAMPLEID', 'SAMPCODE', 'FILE_ID', 'LAT94', 'LNG94', 'Ag_ppm', 'As_ppm', 'Au_ppm', 'Bi_ppm', 'Co_ppm', 'Cr_ppm', 'Cu_ppm', 'Fe_pct', 'Li_ppm', 'Mg_pct', 'Mn_ppm', 'Mo_ppm', 'Ni_ppm', 'Pb_ppm', 'Pd_ppm', 'Pt_ppm', 'S_pct', 'Sb_ppm', 'Se_ppm', 'Sn_ppm', 'Sr_ppm', 'Te_ppm', 'Tl_ppm', 'W_ppm', 'Zn_ppm']
715225

In [8]:
header_dict = {}
for idx, h in enumerate(header):
    header_dict[h] = idx
    
print(header_dict)

{'ID': 0, 'RPT_ID': 1, 'RIN': 2, 'PERIODEND': 3, 'RPT_TYPE': 4, 'SAMPLEID': 5, 'SAMPCODE': 6, 'FILE_ID': 7, 'LAT94': 8, 'LNG94': 9, 'Ag_ppm': 10, 'As_ppm': 11, 'Au_ppm': 12, 'Bi_ppm': 13, 'Co_ppm': 14, 'Cr_ppm': 15, 'Cu_ppm': 16, 'Fe_pct': 17, 'Li_ppm': 18, 'Mg_pct': 19, 'Mn_ppm': 20, 'Mo_ppm': 21, 'Ni_ppm': 22, 'Pb_ppm': 23, 'Pd_ppm': 24, 'Pt_ppm': 25, 'S_pct': 26, 'Sb_ppm': 27, 'Se_ppm': 28, 'Sn_ppm': 29, 'Sr_ppm': 30, 'Te_ppm': 31, 'Tl_ppm': 32, 'W_ppm': 33, 'Zn_ppm': 34}

In [9]:
def get_cell(row, column):
    idx = header_dict[column]
    return row[idx]

In [12]:
def match_rows(rows, elements_subset, idx1, idx2):
    
    #print('row1,row2',idx1,idx2)
    matches = 0
    el_idx = [header_dict[el] for el in elements_subset]
    for eid in el_idx:
        if rows[idx1][eid] == rows[idx2][eid]:
            matches += 1
    #print('matches',matches)
    if matches == len(elements_subset):
        return True
    else:
        return False
            

def check_duplicates(rows, elements_subset, iteration):
    #print(elements_subset)
    matching_row_index = set()
    for idx1 , rw1 in enumerate(rows):
        for idx2, rw2 in enumerate(rows[idx1+1:], start = idx1+1):
            if match_rows(rows, elements_subset, idx1, idx2):
                matching_row_index.add((rw1[0],rw2[0]))
                
    if len(matching_row_index) != 0:
        return matching_row_index
               
    return

In [32]:
num_elements = 7
min_values = 4
iterations = 5

elements_list = header[10:]

duplicates_dict = {}

for i in range(iterations):
    
    valid_rows = []

    subset = random.sample(elements_list, num_elements)
    subset.sort()
    print(subset)
    
    for rw in rows[0:5000]:
        #print("************************************************************")
        valid_count = 0
        for el in subset:
            val = get_cell(rw,el) 
            if val != '':
                if float(val) > 0:
                    valid_count += 1
                    val_float = float(val)
            else:
                continue
            #print(el, val)
        if valid_count >= min_values:
            #print(rw)
            valid_rows.append(rw)
            
    print('valid rows',len(valid_rows))
    
    
    duplicate_set = check_duplicates(valid_rows, subset, i)
    #print(duplicate_set)
    #duplicates.append(duplicate_set)
    if duplicate_set != None:
        for pair in duplicate_set:
            duplicates_dict[pair] = duplicates_dict.get(pair, 0) + 1
    else: 
        continue
#print(duplicates_dict)

sorted_duplicates = sorted(duplicates_dict, key=duplicates_dict.get, reverse=True)
for key in sorted_duplicates[:5]:
    print(key, duplicates_dict[key])

['Ag_ppm', 'Bi_ppm', 'Cr_ppm', 'Sr_ppm', 'Tl_ppm', 'W_ppm', 'Zn_ppm']
valid rows 700
['Cr_ppm', 'Mg_pct', 'Mn_ppm', 'S_pct', 'Sn_ppm', 'Sr_ppm', 'Zn_ppm']
valid rows 1274
['Au_ppm', 'Co_ppm', 'Cu_ppm', 'Se_ppm', 'Sn_ppm', 'W_ppm', 'Zn_ppm']
valid rows 1191
['Ag_ppm', 'Co_ppm', 'Li_ppm', 'Pb_ppm', 'Se_ppm', 'Sr_ppm', 'W_ppm']
valid rows 472
['Ag_ppm', 'Au_ppm', 'Fe_pct', 'Li_ppm', 'Mo_ppm', 'Sb_ppm', 'W_ppm']
valid rows 874
(2252, 2253) 2
(4537, 4618) 1
(2248, 2350) 1
(4538, 4670) 1
(4655, 4669) 1

In [15]:
df = pd.DataFrame(rows)
df.columns = header
df.head()

,ID,RPT_ID,RIN,PERIODEND,RPT_TYPE,SAMPLEID,SAMPCODE,FILE_ID,LAT94,LNG94,...,Pt_ppm,S_pct,Sb_ppm,Se_ppm,Sn_ppm,Sr_ppm,Te_ppm,Tl_ppm,W_ppm,Zn_ppm
0,1,26,R00029259,20030821,A,3250,ROCKCHIP,108,-32.16209655422965,141.08132460705326,...,,0.05,,,,,,,,38
1,2,26,R00029259,20030821,A,3251,ROCKCHIP,108,-32.19912904339302,141.06768123534107,...,,0.01,,,,,,,,155
2,3,26,R00029259,20030821,A,3252,ROCKCHIP,108,-32.20634031574342,141.03900546564248,...,,0.045,,,,,,,,170
3,4,26,R00029259,20030821,A,3253,ROCKCHIP,108,-32.20623199188856,141.03921763604612,...,,0.03,,,,,,,,110
4,5,26,R00029259,20030821,A,3254,ROCKCHIP,108,-32.20833307342557,141.04211536118945,...,,0.015,,,,,,,,125

In [38]:
def get_meta_data(idx1, idx2):
    print(df.loc[df['ID'].isin([idx1,idx2])])
    return

get_meta_data(4537,4790)

        ID RPT_ID        RIN PERIODEND RPT_TYPE SAMPLEID SAMPCODE FILE_ID  \
4536  4537    168  R00043843  20050531        F    15006     SOIL      50
4789  4790    168  R00043843  20050531        F    15070     SOIL      50

                    LAT94               LNG94  ... Pt_ppm  S_pct Sb_ppm  \
4536  -30.056336199234835  151.88577573503096  ...         -0.01     -2
4789  -30.062351018789983  151.88211902903967  ...         -0.01     -2

     Se_ppm Sn_ppm Sr_ppm Te_ppm Tl_ppm W_ppm Zn_ppm
4536                    2           -10   -10      4
4789                    2           -10   -10      5

[2 rows x 35 columns]